.threebox{
    display: flex;
}
.text-centr{
    text-align: center;
}
.marg5{
    margin: 5px;
}
.w1200{
    width: 1200px;
}
.w400{
    width: 400px;
}
.border-black-sol{
    border: black solid 2px;
}
.h600{
    height: 600px;
}
.h295{
    height: 295px;
}
.h100{
    height: 100px;
}
.bg-limegreen{
    background: limegreen;
}
.bg-pink{
    background: pink;
}
.bg-cornflowerblue{
    background: cornflowerblue;
}
.bg-yelow-base{
    background: yellow;
}