.widgets{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: cornflowerblue;
    height: 400px;
    text-align: center;
    margin: 5px;
    font-size: 30px;
    color: white;

}
.Bwidgets{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 20px;
    color: white;

}
.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: blue;
    height: 400px;
    width: 33%;
    margin: 5px;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: cornflowerblue;
    text-align: center;
    height: 800px;
    margin: 5px;
    font-size: 30px;
    color: white;
}