.flex-dir-row{
    flex-direction: row;
}
.font-s30{
    font-size: 30px;
}
.font-s20{
    font-size: 20px;
}
.w33{
    width: 33%;
}
.h800{
    height: 800px;
}
.h400{
    height: 400px;
}
.marg5{
    margin: 5px;
}
.bg-blue-base{
    background: blue;
}
.bg-cornflowerblue{
    background: cornflowerblue;
}
.alg-centr{
    align-items: center;
}
.just-content{
    justify-content: space-evenly;
}
.disp-flex{
    display: flex;
}
.col-white-base{
    color: white;
}