.disp-flex-row{
    display: flex;
    flex-direction: row;
}
.bg-silver-base {
    background: silver;
}
.h600{
    height: 600px;
}
.marg5{
    margin: 5px;
}
.text-centr{
    text-align: center;
}
.h100{
    height: 100px;
}
.h600{
    height: 600px;
}
.w100{
    width: 100%;
}
.w800{
    width: 800px;
}