.w20{
    width: 20%;
}
.w80{
    width: 80%;
}
.flex-dir-row{
    flex-direction: row;
}
.col-white-base{
    color: white;
}
.font-s20{
    font-size: 20px;
}
.alg-centr{
    align-items: center;
}
.just-content{
    justify-content: space-evenly;
}
.disp-flex{
    display: flex;
}
.h150{
    height: 150px;
}
.h120{
    height: 120px;
}
.h600{
    height: 600px;
}
.bg-blue-base{
    background: blue;
}
.bg-darkblue{
    background: darkblue;
}
.bg-cornflowerblue{
    background: cornflowerblue;
}
.bg-bluevilet{
    background: blueviolet;
}